
Blink/build/esp32.esp32.esp32doit-devkit-v1/Blink.ino.bin
Blink/build/esp32.esp32.esp32doit-devkit-v1/Blink.ino.bootloader.bin
Blink/build/esp32.esp32.esp32doit-devkit-v1/Blink.ino.elf
Blink/build/esp32.esp32.esp32doit-devkit-v1/Blink.ino.map
Blink/build/esp32.esp32.esp32doit-devkit-v1/Blink.ino.partitions.bin
